[submodule "hilbert-viewer"]
	path = hilbert-viewer
	url = https://github.com/chaoticgd/hilbert-viewer
[submodule "ghidra-decompiler-docs-built"]
	path = ghidra-decompiler-docs-built
	url = https://github.com/chaoticgd/ghidra-decompiler-docs-built
